@using ForumSystem.Common
@model ForumSystem.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}!";
}

<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
    <cache expires-after="TimeSpan.FromDays(10)" vary-by-query="id">
        <h1 class="display-3">@DateTime.UtcNow</h1>
    </cache>
    <a asp-controller="Posts" asp-action="Create" class="btn btn-primary btn-lg">Create new forum post</a>
</div>
<hr />
<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-4 media">
            <img src="@category.ImageUrl" width="100" class="mr-3" alt="@category.Title">
            <div class="media-body">
                <h5 class="mt-0">
                    <a href="@category.Url">
                        @category.Title (@category.PostsCount)
                    </a>
                </h5>
                @category.Description
            </div>
        </div>
    }
</div>