@using MoiteRecepti.Common
@model MoiteRecepti.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="col-md-8">
        <div class="row">
            @foreach (var recipe in this.Model.RandomRecipes)
            {
                <div class="card col-md-6">
                    <img class="card-img-top" src="@recipe.ImageUrl" alt="@recipe.Name">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Name</h5>
                        <p class="card-text">@recipe.CategoryName</p>
                        <a asp-controller="Recipes" asp-action="ById" asp-route-id="@recipe.Id" class="btn btn-primary">Go to recipe</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        <p>We have:</p>
        <ul class="list-group">
            <li class="list-group-item bg-info">Recipes: @Model.RecipesCount</li>
            <li class="list-group-item bg-light">Categories: @Model.CategoriesCount</li>
            <li class="list-group-item bg-info">Images: @Model.ImagesCount</li>
            <li class="list-group-item bg-light">Ingredients: @Model.IngredientsCount</li>
        </ul>
    </div>
</div>
